.landing-page {
  text-align: center;
  padding: 20px;
}

.landing-page-title {
  padding: 0 20px;
  font-size: 36px;
  color: #ff5733;
  text-align: left;
}

.landing-page-content {
  display: flex;
  justify-content: flex-start; /* Align content to the left horizontally */
  align-items: center; /* Center content vertically */
  text-align: left;
  flex-wrap: wrap;
  height: 100vh;
}

.landing-page-text {
  flex: 1;
  padding: 0 20px;
  text-align: left; /* Align the text inside the left column to the left */
}

.landing-page-examples {
  font-weight:;
  font-size: 50px;
  color: #ff5733;
  margin-bottom: 10px;
  text-align: left; /* Align the text inside the left column to the left */
}

.landing-page-examples-list ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.landing-page-examples-list li {
  font-size: 40px;
  margin: 10px 0;
  animation: changeColor 2s infinite;
}

@keyframes changeColor {
  0% {
    color: #ff5733;
  }
  50% {
    color: #33ff57;
  }
  100% {
    color: #ff5733;
  }
}

.landing-page-buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #ff5733;
  color: white;
}

.get-started-text {
  font-size: 24px;
  margin-top: 20px;
  text-align: right;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .landing-page-content {
    flex-direction: column;
  }
}
