.carousel-video {
  padding: 2rem;
  width: 78%;
  margin: 0 auto;
}

.react-player-wrapper {
  /* 16:9 Aspect Ratio */
  padding-bottom: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Custom arrow styling */
.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  height: 40px;
  width: 40px;
}

@media (max-width: 1024px) {
  .carousel-video {
    padding: 1.5rem;
    width: 75%;
    margin: 0 auto;
  }

  .react-multiple-carousel__arrow--left,
  .react-multiple-carousel__arrow--right {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 464px) {
  .carousel-video {
    padding: 1rem;
    width: 100%;
    margin: 0;
  }

  .react-multiple-carousel__arrow--left,
  .react-multiple-carousel__arrow--right {
    height: 25px;
    width: 25px;
  }
}
