.auth-content {
  height: 100vh;
  padding: 20px 20px;
  display: flex;
  align-items: center; /* For vertical alignment */
  justify-content: center; /* For horizontal alignment */
  gap: 20px;
}

.auth-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth-tabs {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.auth-tab {
  color: black;
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.auth-tab.active {
  background-color: #df73e7;
  color: white;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #2a3b8d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.auth-form button:hover {
  background-color: #1a2b5d;
}

.auth-image {
  width: 300px;
  height: 300px;
  margin-right: 50px;
}

.tab-container {
  display: flex;
  border-bottom: 2px solid #e0e0e0; /* Gives a subtle underline for the tabs */
}

.tab {
  margin-right: 10px;
  font-size: 18px;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.tab:last-child {
  margin-right: 0; /* Ensures the last tab doesn't have unnecessary right margin */
}

.tab:hover {
  background-color: #f1f1f1; /* Adds a hover effect to the non-active tab */
}

.tab.active {
  border-bottom: 3px solid #ee136f; /* Gives a noticeable underline for the active tab */
  background-color: #fdfdfd;
}

.auth-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* You can adjust this color to fit your branding */
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .auth-content {
    height: auto;
    flex-direction: column;
  }

  .auth-container {
    margin: 10px;
  }

  .auth-image {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }
}
