.logout-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkgray;
}
