/* Contact Section Styling */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

/* Updated Contact Section Styling */
.contact-container {
  width: 80%; /* Takes 80% of the wrapper width */
  max-width: 1200px; /* Doesn't get bigger than this */
  padding: 40px;
  background-color: #ffffff; /* Updated to a different background to distinguish it from the wrapper */
  color: #333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Optional, just for a better look */
}

.contact-headline,
.contact-subheadline {
  text-align: center;
}

.contact-headline {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-subheadline {
  font-size: 18px;
  margin-bottom: 40px;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form,
.contact-info {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.contact-input,
.contact-textarea,
.contact-button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-button {
  background-color: #df73e7;
  color: white;
  border: none;
}

.contact-button:hover {
  background-color: #c851ce;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form,
  .contact-info {
    width: 100%;
  }
}
