.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.contact-image {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-details {
  max-width: 500px;
}

.contact-details h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-details p {
  font-size: 16px;
  margin-bottom: 30px;
}

.contact-details form input,
.contact-details form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-details form textarea {
  height: 100px;
}

@media (max-width: 1000px) {
  .contact-section {
    flex-direction: column;
    height: auto;
  }

  .contact-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-details {
    max-width: none;
  }
}
