.input-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw; 
  max-width: 800px; 
  padding: 0.5vw; 
  background-color: #f2f2f2;
  border-radius: 10px;
}

.input-container input {
  margin-right: 10px;
  background-color: #f2f2f2;
  flex-grow: 1;
  border: none;
  font-size: 2vw; 
}

.input-container button {
  flex-shrink: 0;
}

.input-container input::placeholder {
  color: gray;
  font-size: 2vw; 
}

.input-container input:focus {
  outline: none;
}

.input-container button {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .input-container {
    width: 90vw; 
    padding: 0.5vw; 
  }

  .input-container input {
    font-size: 2vw;  
  }

}
