.blog-card {
  display: block; /* changed from flex to block for better control on different screens */
  max-width:500px; /* Limit the maximum width on larger screens */
  margin: 0 auto 20px; /* center the card on larger screens with auto margin */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.blog-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-card__image {
  width: 100%; /* Ensure image takes the full width of the card */
  height: 350px;
  object-fit: cover;
}

.blog-card__content {
  padding: 16px;
}

.blog-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.blog-card__text {
  font-size: 16px; 
  color: #555;
}

@media (max-width: 600px) {
  .blog-card__image {
    height: 150px; /* Adjust image height on mobile screens */
  }
  .blog-card__text {
    font-size: 14px;
  }
  .blog-card__title {
    font-size: 16px;
  }
  .blog-card {
    margin: 0 auto 10px; /* Reduce the margin-bottom for mobile screens */
  }
}
